$primary-color: #42d3c1;
// $bg-visual: #fdfbf7;
$bg-visual: #fdfbf7;

$bg-children-side: #fbbf24;

$text-main: #334155;
$text-secondary: rgba(69, 83, 104, 0.8);

$status-warning: #fbbf24;

$bg-navbar: #d4eeeb;

$text-bg: #2dd4bf;

$text-tag: #4ae3d0;
